<a href="https://colab.research.google.com/github/shahoodzee/Campaign_Funding_Blockchain_Project/blob/main/Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#@title CSV File

df = pd.read_csv('kc_house_data.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   Unnamed: 2     0 non-null      float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
 21  price          21613 non-null  float64
dtypes: float64(6), int64(15), object(1)
memory usage: 3.6+ MB

In [ ]:
#@title Remove Un-necessary Attributes
x = df.drop(['price','zipcode','lat','lat','date','Unnamed: 2','floors'],axis=1)
y = df['price']

In [ ]:
#@title Spiting the data into test-train split
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
#@title Clean the data

df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(999, inplace=True)

In [ ]:
#@title Linear Regression Fit
from sklearn.linear_model import LinearRegression
linR = LinearRegression()
linR.fit(X_train,Y_train)

LinearRegression()

In [ ]:
#@title Calculate Y_pred
Y_pred = linR.predict(X_test)  #Y_pred vs Y_test
Y_pred

array([1769544.77745014,  623724.34833255,  526466.77135325, ...,
        770174.56549265,  336992.40486184, 1599161.53594088])

In [ ]:
#@title Y_test values
Y_test = np.array(Y_test)
Y_test

array([1140000.,  429950.,  455950., ...,  855000.,  459000., 1570000.])

In [ ]:
#@title R2-score
from sklearn.metrics import r2_score
r2_score(Y_test,Y_pred)

0.6655997917365193

In [ ]:
#@title Calculating Mean Absolute Error
from sklearn.metrics import mean_absolute_error as mae
print(mae(Y_test,Y_pred))

139791.95984171832

In [ ]:
#@title Calculating MAPE()

def mape(y_test, pred):
    mape = np.mean(np.abs((y_test - pred) / y_test))
    print(mape)

mape(Y_test,Y_pred)

0.29450263961470635

In [ ]:
#@title Calculating MAPE()

from sklearn.metrics import mean_absolute_percentage_error as MAPE
MAPE(Y_test,Y_pred)

0.29450263961470635